@import "tailwindcss";
@unocss;

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
	themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --length-cell-0: 50px;
	--length-cell-1: 100px;
  --length-cell-2: 200px;
  --length-cell-3: 300px;
  --length-cell-4: 400px;
  --length-cell-5: 500px;
  --length-cell-6: 600px;
  --length-cell-7: 700px;
  --length-cell-8: 800px;
  --length-cell-9: 900px;
  --length-cell-10: 1000px;
  --length-cell-11: 1100px;
  --length-cell-12: 1200px;
  --length-cell-13: 1300px;
  --length-cell-14: 1400px;

	--color-cell-border: --alpha(var(--color-base-300) / 70%);
	--gradient-cell: linear-gradient(
			to bottom,
			var(--color-cell-border) 1px,
			transparent 1px
		), linear-gradient(to left, var(--color-cell-border) 1px, transparent 1px);
}

@utility w-c-* {
  width: --value(--length-cell-*);
}

@utility max-w-c-* {
  max-width: --value(--length-cell-*);
}

@utility h-c-* {
  height: --value(--length-cell-*);
}

@layer components {
	.bg-cell {
		@apply bg-(image:--gradient-cell) bg-[length:var(--length-cell-1)_var(--length-cell-1)] bg-[center_top];
	}
}

:root {
  font-size: 16px;
}

html[data-theme="dark"] .shiki,
html[data-theme="dark"] .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}
