@import 'tailwindcss';
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    dim --default,
    dim --prefersdark;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
}

@layer base {
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  } /* Chrome, Safari, Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
}

:root {
  font-size: 16px;
}
